.message {
    border: 1px solid darkcyan;
    background-color: floralwhite;
    margin: 1rem;
    padding: 1rem;
}

.message p {
    margin: 0;
    font-size: 0.8rem;
}

.deleted-message {
    text-align: center;
    color: brown;
}